@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');


*{
    font-family: 'Raleway', sans-serif;
    padding: 0%;
    margin: 0;

}

#encabezado{
    background-color: lightblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 40px 0 40px;
}
#logo>h1{
    color: black;
    display: flex;
    align-items: baseline;
    font-family: 'Send Flowers', cursive;

}
#logo{
    display: flex;
    align-items: center;
   
}
#redes{
    display: flex;
    justify-content: center;
    background-color: thistle;
    height: 20%;
    width: 100%;
    justify-content: space-around;

}


#final{
    height: 50%; 
    width: 100%;
    background-color: dimgray;
    text-decoration: none;
    color: black;

}




#logofinal>p{
    display: flex;

    
}

#compra{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 30%;




}
.finaal>a{
    text-decoration: none;
    color: black;

}

.escribenos{
    display: flex;
    align-items: center;
    
}
#compra>h1{
    display: flex;
    flex-direction: column;
    
    
}

.finaal{
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    cursor: pointer;  
    text-decoration: none;
    color: black;
    position: relative;
    bottom: 10vh;

}
.finaal> a:hover{
    color: gold;
    transition-duration: 0.5s;
    text-decoration: none;

}

.finaal>h1{
    font-family: 'Hurricane', cursive;
    font-size: 1.9rem;
}

#reedes{
    display: flex;
    justify-content: flex-end;
    width: -20%;
    position: relative;
    bottom: 30vh;
    margin-left: 200px;

}

.redsociales>h1{
    font-family: 'Hurricane', cursive;
    font-size: 1.9rem;

}

.redsociales>a{
    display: flex;
    justify-content: center;

}

#logofinal{
    display: flex;
    justify-content: center;
    position: relative;
}




#final>h5{
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Send Flowers', cursive;
    
}


#sesion{
    display: flex;
   position: relative;
   left: 60%;
}


#quienessomos{
    height: 50%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
}

#contenido{
    height: 100%;
    background-color: burlywood;
}

#carouselExampleSlidesOnly{
    height: 50%; 
    width: 45%;
    display: flex;
    justify-content: center;


}

#quiensomos>h1{
    display: flex;
    justify-content: center;
    font-family: 'Send Flowers', cursive;
}
#quiensomos>p{
    display: flex;
    justify-content: center;
}


#carrusel{
    display: flex;
    justify-content: center;

}


